In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns

In [2]:
import os
import dash
import dash_core_components as dcc
import dash_html_components as html

C:\Users\a833162\AppData\Local\Temp/ipykernel_6364/520709745.py:3: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\a833162\AppData\Local\Temp/ipykernel_6364/520709745.py:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [3]:
df = pd.read_csv('incs.csv')

In [6]:
df.head()

,Reference Number,description,Assigned to,Assignment Group,Affected Service/CI,Affected Service/CI Category,Affected Service/CI Subcategory,Closed Date,Created,Created by,Task Summary,Closed by,Closure Code,Closure Code 2
0,INC0022325101,Nutanix/Alert / Data At Rest Encryption key ba...,Rohit Gaur,DBSP-INT-NGCS-TIER2-NUTANIX,cdcntxclspr2201.uk.db.com,NaN,NaN,NaN,16 June 2022,zip_interface,NaN,NaN,Hardware,Not Listed
1,INC0022248860,Status/WinService / Status/WinService / Status...,Prashant Sahane,DBSP-INT-NGCS-TIER2-CITRIX,nj3ctxsfspr0101.us.db.com,NaN,NaN,NaN,04 June 2022,zip_interface,NaN,NaN,No Fault Found,False Alert
2,INC0022248867,Status/WinService / Status/WinService / Status...,Prashant Sahane,DBSP-INT-NGCS-TIER2-CITRIX,nj3ctxsfspr0101.us.db.com,NaN,NaN,NaN,04 June 2022,zip_interface,NaN,NaN,No Fault Found,False Alert
3,INC0022248861,Status/WinService / Status/WinService / Status...,Prashant Sahane,DBSP-INT-NGCS-TIER2-CITRIX,nj3ctxsfspr0101.us.db.com,NaN,NaN,NaN,04 June 2022,zip_interface,NaN,NaN,No Fault Found,False Alert
4,INC0022248862,Status/WinService / Status/WinService / Status...,Prashant Sahane,DBSP-INT-NGCS-TIER2-CITRIX,nj3ctxsfspr0101.us.db.com,NaN,NaN,NaN,04 June 2022,zip_interface,NaN,NaN,No Fault Found,False Alert

In [8]:
df_pivot = pd.pivot_table(df, values='Reference Number', index='Created',
                          aggfunc='count')

In [9]:
df_pivot.head()

              Reference Number
Created
01 June 2022                68
02 June 2022                34
03 June 2022                43
04 June 2022               101
05 June 2022                31

In [10]:
df_pivot.sort_values(by='Created', ascending=False)
df_pivot.head()

              Reference Number
Created
01 June 2022                68
02 June 2022                34
03 June 2022                43
04 June 2022               101
05 June 2022                31

In [16]:
df_pivot.reset_index(inplace=True)

In [17]:
df_pivot.columns

Index(['Created', 'Reference Number'], dtype='object')

In [18]:
app_name = 'ITSM Dashboard'
 
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
 
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
app.title = 'ITSM Dashboard'

In [19]:
trace = px.line(x=df_pivot['Created'], y=df_pivot['Reference Number'])
 
app.layout = html.Div(children=[html.H1("CData Extension + Dash", style={'textAlign': 'center'}),
dcc.Graph(
id='example-graph',
figure={
'data': [trace],
'layout':
go.Layout(title='SuiteCRM Accounts Data', barmode='stack')
})
], className="container")

In [20]:
if __name__ == '__main__':
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: 1

C:\Users\a833162\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3452: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.